:root {
  --purple: #3e0249;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--purple);
  font-family: "Courier New", Courier, monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 54px;
  text-transform: capitalize;
}

#gameboard {
  width: 450px;
  display: flex;
  flex-wrap: wrap;
}

.box {
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--purple);
}

button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: (var(--purple));
    color: rgb(8, 8, 8);
    border-color: var(--purple);
    font-size: 10px;
    transition: 200ms transform;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}
